altair==4.2.0 ; python_version >= "3.10" and python_version < "3.11"
asgiref==3.5.2 ; python_version >= "3.10" and python_version < "3.11"
attrs==22.1.0 ; python_version >= "3.10" and python_version < "3.11"
construct==2.10.68 ; python_version >= "3.10" and python_version < "3.11"
cx-oracle==8.3.0 ; python_version >= "3.10" and python_version < "3.11"
django-crispy-forms==1.14.0 ; python_version >= "3.10" and python_version < "3.11"
django-extensions==3.2.1 ; python_version >= "3.10" and python_version < "3.11"
django-pandas==0.6.6 ; python_version >= "3.10" and python_version < "3.11"
django-phonenumber-field[phonenumberslite]==7.0.0 ; python_version >= "3.10" and python_version < "3.11"
django-rename-app==0.1.3 ; python_version >= "3.10" and python_version < "3.11"
django-tables2==2.4.1 ; python_version >= "3.10" and python_version < "3.11"
django==4.0 ; python_version >= "3.10" and python_version < "3.11"
entrypoints==0.4 ; python_version >= "3.10" and python_version < "3.11"
et-xmlfile==1.1.0 ; python_version >= "3.10" and python_version < "3.11"
fsspec==2022.8.2 ; python_version >= "3.10" and python_version < "3.11"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "3.11"
install==1.3.5 ; python_version >= "3.10" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.16.0 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==2.1.1 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.23.3 ; python_version >= "3.10" and python_version < "3.11"
openpyxl==3.0.10 ; python_version >= "3.10" and python_version < "3.11"
pandas==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
phonenumberslite==8.12.55 ; python_version >= "3.10" and python_version < "3.11"
progress==1.6 ; python_version >= "3.10" and python_version < "3.11"
psycopg2==2.9.3 ; python_version >= "3.10" and python_version < "3.11"
pyrsistent==0.18.1 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.11"
pytz==2022.2.1 ; python_version >= "3.10" and python_version < "3.11"
setuptools==65.3.0 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
sqlparse==0.4.3 ; python_version >= "3.10" and python_version < "3.11"
tablib==3.2.1 ; python_version >= "3.10" and python_version < "3.11"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.11.4 ; python_version >= "3.10" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2022.2 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
xlsxwriter==3.0.3 ; python_version >= "3.10" and python_version < "3.11"
xlwt==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
