CHANGEMENT DE MOT DE PASSE SERVEUR BIOM_AID

Pour réinitialiser le mot de passe de votre compte GÉQIP :
         -   Adresse mail :  {{ email }},
         -   Utilisateur : {{ user.get_username }}

veuillez cliquer sur le lien ci-dessous:

{{ protocol}}://{{ domain }}{% if url_prefix %}{% url 'password_reset_confirm' url_prefix=url_prefix uidb64=uid token=token %}{% else %}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endif %}

Si le lien ne fonctionne pas, copiez le dans votre navigateur internet.

Cordialement.

Le Département des Ressources Biomédicales
