{% extends "common/base.html" %}
{% load static %}
{% load url_kwargs %}
{% block tab_contents %}
<h1>GÉQIP</h1>
<h2>Réinitialisation du mot de passe</h2>
<p>
    Si l'email indiqué correspond bien à un utilisateur de "GÉQIP", vous allez recevoir prochainement les instructions de modification de mot de passe à l'adresse mail indiquée.
</p>
<p>
    Si vous ne recevez pas d'email, veuillez vous assurer de l'exactitude du mail indiqué,
    et vérifiez qu'il ne s'est pas retrouvé dans vos mails indésirables.
</p>
<a href="{% url_kwargs 'common:sign' %}">Retour</a>
{% endblock tab_contents %}
