{% extends "common/base.html" %}
{% load static %}
{% load url_kwargs %}
{% block tab_contents %}
<div class="contents">
<h1>Gestion des Equipements</h1>
<h2>Réinitialisation du mot de passe</h2>
    <p>Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>
<form action="." method="post">
    {% csrf_token %}
    <fieldset>
        <br>
        <label for="id_email">Adresse électronique :</label>
        <input id="id_email" type="email" name="email" autocomplete="email" maxlength="254" required="">
        <br>
        <br>
        <input type="submit" value="Réinitialiser mon mot de passe">
    </fieldset>
</form>
</div>
<a href="{% url_kwargs 'common:sign' %}">Retour</a>
{% endblock tab_contents %}
