{% extends "common/base.html" %}
{% load static %}
{% load url_kwargs %}
{% block tab_contents %}
<h1>GÉQIP</h1>
<h2>Réinitialisation du mot de passe</h2>
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Changer le mot de passe</button>
    </form>
  {% else %}
    <p>
      Le lien de modification du mot de passe est invalide, il a peut être déjà servi.
      Veuillez renouveller votre demande de réinitialisation de mot de passe en cliquant sur le lien :<a href="{% url_kwargs 'password_reset' %}">changer de Mot de passe</a>
    </p>
  {% endif %}

<a style="width:max-content;height:max-content" href="{% url_kwargs 'common:sign' %}">Annuler</a>
{% endblock tab_contents %}
