{% extends "common/base.html" %}
{% load static %}

{% block tab_contents %}
<div class="doc-page">
  <h1>Portail KOS - Demande de travaux courants</h1>
<p>Le portail KOS permet la saisie des demandes de travaux courants (anciennement dénommés «&nbsp;travaux d’un montant inférieur à 80&nbsp;000&nbsp;€) ne nécessitant pas un passage en Commission de Priorisation des Projets Immobilier (CPPI).</p><br>
<p>Le recensement, la priorisation et la programmation de ces travaux s’inscrivent dans une démarche et un calendrier prévisionnel rappelé ci-dessous, l’objectif est d’établir une planification à l’année qui prenne en compte les contraintes urbanistiques, réglementaires, (incendies, appels d’offres, accessibilités…) et de conduite d’opération.</p><br>
  <p>Les demandes devront être centralisées et validées au niveau de chaque pôle, avant transmission à la Direction des Travaux et de l’Immobilier.</p>
  <h3>Calendrier prévisionnel :</h3>
  <ul>
    <li>Recensement des besoins (via le portail KOS), de Juillet à fin Septembre, pour une réalisation année N+1.</li>
    <li>Traitement et instruction des demandes par le PFSI, d’Octobre à Novembre, année N,</li>
    <li>Priorisation et validation des demandes, Décembre de l’année N et janvier de l’année N+1</li>
    <li>Information et Calendrier de réalisation des opérations retenues, Février année N+1.</li>
</ul><br>
  <p>Une attention particulière doit être apportée au remplissage des différents champs.</p>
  <p>Les éléments transmis doivent permettre d’identifier le besoin, de localiser facilement les locaux concernés. Le cadre référent est celui à même de donner toutes les précisions en cours d’instruction.</p>
  <p>La priorisation est également essentielle car elle permet un classement par pôle de ces demandes.</p><br>
  <p>Un retour est attendu pour le 30 septembre, délai de rigueur (aucune nouvelle demande ne pourra être saisie ensuite)</p>
  <p>Courant Octobre et Novembre, des rencontres seront programmées avec les chefs de projet de la Direction des Travaux et de l’Immobilier, pour échanger sur les demandes et vérifier leurs bonnes compréhensions.</p><br>
  <p>La Direction des Travaux et de l’Immobilier se tient à votre disposition (poste 68895 ou 68167) pour toute demande d’information complémentaire.</p>
</div>
{% endblock tab_contents %}
