<html>
 <head>
 </head>
 <body>
     <h1>GÉQIP ne fonctionne malheureusement pas avec Internet Explorer</h1>
     <p>Malgré tous nos efforts, cet ancien navigateur que même son concepteur, Microsoft, ne recommande plus, n'est pas compatible avec les dernières versions de GÉQIP</p>
     <p>Nous vous conseillons d'utiliser un navigateur moderne et conforme aux normes internet tel que :</p>
     <ul>
         <li>Mozilla Firefox</li>
         <li>Google Chrome</li>
         <li>Microsoft Edge</li>
     </ul>
    <p>pour accéder à GEQIP ou KOS copiez l'adresse suivante dans l'un des navigateurs ci-dessus</p>
     <ul>
         <li>GEQIP : http://trinidad/geqip/</li>
         <li>KOS : http://trinidad/kos/ </li>
     </ul>
 </body>
</html>
