{% extends "dem/base_avec_form.html" %}
<link href="dem/select2-4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="dem/select2-4.0.13/dist/js/select2.min.js"></script>
{% load static %}
{% block more_header %}
<link rel="stylesheet" type="text/css" href="{% static '/drachar/formulaire.css' %}" />
{% endblock more_header %}

{% comment "docstring" %}
<!--
Template utilisé (uniquement) pour la saisie d'une nouvelle demande

Variables python utilisées :

- message : Message à diffuser à l'utilisateur, qui sera affiché
            dans une boite de dialogue à l'ouverture de la page
            et dans un bandeau en haut du formulaire
- form_dmd : Formulaire de type NouvelleDemandeForm
- ...
-->
{% endcomment %}

{% block tab_contents %}

<h1>{{ title }}</h1>


<form id="form" enctype="multipart/form-data" action="/drachar/nouvelleligne/" method="POST">
    {% csrf_token %}
    <div>
    <div class="form-dra-section">
        <div class=".form-dra-section-c1-r1">
            <label>numéro prévisionnel :</label>
        </div>
        <div class=".form-dra-section-c2-r1">
           {{form_ligne.num_previsionnel}}
        </div>
        <div class="form-dra-section-c3-r1">
            <label>Numéro de DRA :</label>
        </div>
        <div class=".form-dra-section-c4-r1">
            {{ dra_id }}
        </div>
        <br>
        <div class=".form-dra-section-c1-r2">
            <label>Fammile d'achat : </label>
        </div>
        <div class=".form-dra-section-c2-r2">
            {{ form_ligne.famille_achat }}
        </div>
        <div class="form-dra-section-c3-r2">
            <label>Numéro de compte : </label>
            <button><a href="/drachar-chuap/common/gestion_comptes/" onclick="window.open(this.href); return false;">Add</a> </button>
        </div>
        <div class=".form-dra-section-c4-r2">
            {{ form_ligne.num_compte }}
        </div>
    </div>
     <!--Produit-->
    <br>
    <div class="form-dra-section">
        <div class=".form-dra-section-c1-r1">
            <label>Marque :</label>
        </div>
        <div class=".form-dra-section-c2-r1">
           {{ form.marque }}
            <button><a href="/common/gestion_marques" onclick="window.open(this.href); return false;">Add</a> </button>
        </div>
        <div class="form-dra-section-c3-r1">
            <label>Type/modèle : </label>
        </div>
        <div class=".form-dra-section-c4-r1">
            {{ form.type }}
        </div>


    </div>
        <br>
        <!--Informations Commande-->
    <div class="form-dra-section">
        <div class=".form-dra-section-c1-r1">
            <label>A inventorier :</label>
        </div>
        <div class=".form-dra-section-c2-r1">
            {{ form.a_inventorier }}
        </div>
    </p>
    </div>
        <br>
    <div class="form-dra-section">
        <div class=".form-dra-section-c1-r1">
            <label>Numéro Bon de Commande :</label>
        </div>
        <div class=".form-dra-section-c2-r1">
           {{ form_dra.num_bon_commande }}
        </div>
        <div class="form-dra-section-c3-r1">
            <label>Date de la commande : </label>
        </div>
        <div class=".form-dra-section-c4-r1">
            {{ form_dra.date_commande }}
        </div>
    </div>
        <br>
     <!--Document lié à DRA-->
        <!--<div>
            <h3 class="ie-row-1 form-subsection-title">Documents :</h3>
            {{ formsetDoc.management_form }}
            {% for form in formsetDoc %}
                {{ form.as_table }}
            {{ form.id }}
            {% endfor %}
                <br>
            Actions :
                <input value="False" name="additemsdoc" id="additemsdoc">
                <button class="btn btn-primary" name="additemsbuttondoc" id="additemsbuttondoc">(+) Coût supplémentaire </button>
                <button class="btn btn-primary" name="delitemsbuttondoc" id="delitemsbuttondoc">(-) Supprimer les coûts sélectionnés </button>
            <div class="ie-row-9 form-subsection-end"></div>
        </div>-->
     <!--Contact livraison-->
    <br>
    <label>Contact Livraison :</label>
        {{ form_dra.contact_livraison }}
    </p>
        <button><a href="/drachar/gestion_contact_liv" onclick="window.open(this.href); return false;">Ajouter un contact</a> </button>
    <br>

    <!--<div style="text-align:center;">-->
        <input type="submit" name="submit" value="ENREGISTRER">
        <input type="button" OnClick="window.location.href = '/drachar/nouvelledra/';" value="REINITIALISER le formulaire">
    <!--</div>-->
    <!-- Champs cachés (à conserver)-->
    {{ form_dra.documents }}
</div>
</form>

{% endblock tab_contents %}

{% block javascript %}
<script>
$(document).ready(function() {
        $('#additemsbuttondoc').on('click', function(event) {
         $('#additemsdoc').val("True");
       });
});
</script>
{{ block.super }}
<script>
  $('.flexdatalist').flexdatalist({
      minLength: 0,
      searchContain:true,
      valueProperty:'value',
      noResultsText:"Pas de résultat trouvé pour '{keyword}'"
    }).on('change:flexdatalist', function(event, set, options) {
      // Simule le "onChange" sur le champ original
      var event = new CustomEvent('change');
      this.dispatchEvent(event);
    });

</script>
{% endblock javascript %}
