{% extends "drachar/base_avec_form.html" %}
{% load static %}
{% load l10n %}
{% load getattribute %}
{% block more_header %}
{{ block.super }}
<script src="{% static '/dem/jquery.flexdatalist.min.js' %}" xmlns="http://www.w3.org/1999/html"></script>
<link rel="stylesheet" type="text/css" href="{% static '/drachar/formulaire.css' %}" />
<script src="{% static '/dem/helper-rules.js' %}"></script>
<script src="{% static '/dem/form-helper.js' %}"></script>
    <style>
      .grid-container1 {
        display:grid;
        grid-template-columns: auto auto auto auto
        grid-gap: 20px;
        column-gap: 20px;
        background-color: #999999;
        padding: 10px;
      }
          .container1c1r1 {
            grid-column: 1 / span 1;
            text-align: right;
          }
          .container1c2r1 {
            grid-column: 2 / span 1;
            text-align: left;
          }
          .container1c3r1 {
            grid-column: 3 / span 1;
            text-align: right;
          }
          .container1c4r1 {
            grid-column: 4 / span 1;
            text-align: left;
          }
          .container1c1r2 {
            grid-column: 1 / span 1;
            grid-row: 2;
            text-align: right;
          }
          .container1c2r2 {
            grid-column: 2 / span 1;
            grid-row: 2;
            text-align: left;
          }
          .container1c3r2 {
            grid-column: 3 / span 1;
            grid-row: 2;
            text-align: right;
          }
          .container1c4r2 {
            grid-column: 4 / span 1;
            grid-row: 2;
            text-align: left;
          }
          .container1c1r3 {
            grid-column: 1 / span 1;
            grid-row: 3;
            text-align: right;
          }
          .container1c2r3 {
            grid-column: 2 / span 1;
            grid-row: 3;
            text-align: left;
          }
          .container1c3r3 {
            grid-column: 3 / span 1;
            grid-row: 3;
            text-align: right;
          }
          .container1c4r3 {
            grid-column: 4 / span 1;
            grid-row: 3;
            text-align: left;
          }
          .container1c1r4 {
            grid-column: 1 / span 1;
            grid-row: 4;
            text-align: right;
          }
          .container1c2r4 {
            grid-column: 2 / span 1;
            grid-row: 4;
            text-align: left;
          }
          .container1c3r4 {
            grid-column: 3 / span 1;
            grid-row: 4;
            text-align: right;
          }
          .container1c4r4 {
            grid-column: 4 / span 1;
            grid-row: 4;
            text-align: left;
          }
          .container1c1r5 {
            grid-column: 1 / span 1;
            grid-row: 5;
            text-align: right;
          }
          .container1c2r5 {
            grid-column: 2 / span 1;
            grid-row: 5;
            text-align: left;
          }
          .container1c3r5 {
            grid-column: 3 / span 1;
            grid-row: 5;
            text-align: right;
          }
          .container1c4r5 {
            grid-column: 4 / span 1;
            grid-row: 5;
            text-align: left;
          }
          .container1c1r6 {
            grid-column: 1 / span 1;
            grid-row: 6;
            text-align: right;
          }
          .container1c2r6 {
            grid-column: 2 / span 1;
            grid-row: 6;
            text-align: left;
          }
          .container1c3r6 {
            grid-column: 3 / span 1;
            grid-row: 6;
            text-align: right;
          }
          .container1c4r6 {
            grid-column: 4 / span 1;
            grid-row: 6;
            text-align: left;
          }

      .grid-container2 {
        display:grid;
        grid-template-columns: auto auto auto auto auto auto auto auto
        grid-gap: 20px;
        column-gap: 5px;
        background-color: #00FF99;
        padding: 10px;
        justify-content: start;
      }
          .container2c1r1 {
            grid-column: 1 / span 1;
            text-align: center;
          }
          .container2c2r1 {
            grid-column: 2 / span 1;
            text-align: center;
          }
          .container2c3r1 {
            grid-column: 3 / span 1;
            text-align: center;
          }
          .container2c1r2 {
            grid-column: 1 / span 1;
            grid-row: 2;
            text-align: center;
          }
          .container2c2r2 {
            grid-column: 2 / span 1;
            grid-row: 2;
            text-align: center;
          }
          .container2c3r2 {
            grid-column: 3 / span 1;
            grid-row: 2;
            text-align: center;
          }
    </style>
{% endblock more_header %}

{% block tab_contents %}

<h1>{{ title }}</h1>
<!--________________________________________________________-->
<!--_____formulaire pour le cas d'une nouvelle demande_____ -->
<!--________________________________________________________-->
{% if dra_id == None %}
    <form id="form" enctype="multipart/form-data" action="../nouvelledra/" method="POST">
        {% csrf_token %}


        <!--</div>-->
        <!-- Champs cachés (à conserver)-->
    <body>
            <h2>Informations sur la DRA</h2>
              <div class="grid-container1">
                <div class="container1c1r1">
                    <label>Intitulé de la DRA : </label>
                </div>
                <div class="container1c2r1">
                    {{form_dra.intitule}}
                </div>
                <div class="container1c3r1">
                    <label>Expert Métier* : </label>
                </div>
                <div class="container1c4r1">
                    {{form_dra.expert_metier}}
                </div>
                <div class="container1c1r2">
                    <label>Fournisseur : ?!? faire champs auto JS nomfour fonction de la selection?!?</label>
                    <button><a href="/{{ url_prefix }}/common/fournisseuretablissement" onclick="window.open(this.href); return false;">Add</a> </button>
                    <!--TODO : modifier le bouton pour un redirect et ne pas perdre le formulaire dra en cours-->
                </div>
                <div class="container1c2r2">
                    {{form_dra.fournisseur}}
                </div>
                <div class="container1c3r2">
                    <label>contact fournisseur : ?!? faire champs auto JS nomfour fonction de la selection?!?</label>
                    <button><a href="/{{ url_prefix }}/common/fournisseuretablissement" onclick="window.open(this.href); return false;">Add</a> </button>
                    </div>
                <div class="container1c4r2">
                    {{form_dra.contact_fournisseur}}
                </div>
                  <!-- TODO : ajouter :
                           <div class="form-dra-section">
                        <div class="form-dra-section-c1-r1">
                             <label>N° de dossier Affilié :</label>
                        </div>
                            <div class="form-dra-section-c2-r1">
                         {{form_dra.num_dossier}}
                         </div>
                        </div>
                   -->
             <!--INFORMATIONS SUR LE DEVIS-->
                <div class="container1c1r3">
                    <label>N° du devis* : </label>
                    <button><a href="/{{ url_prefix }}/ajout_document/" onclick="window.open(this.href); return false;">Ajouter un devis</a> </button>
                </div>
                <div class="container1c2r3">
                    {{form_dra.num_devis}}
                </div>
                <div class="container1c3r3">
                    <label>Date du devis* : </label>
                </div>
                <div class="container1c4r3">
                    {{form_dra.date_devis}}
                </div>
                <div class="container1c1r4">
                    <label>N° de Marché* : </label>
                    <button><a href="/{{ url_prefix }}/marche/marches" onclick="window.open(this.href); return false;">Add</a> </button>
                </div>
                <div class="container1c2r4">
                    {{form_dra.num_marche}}
                </div>
                <div class="container1c3r4">
                    <button><a href="/{{ url_prefix }}/ajout_document/" onclick="window.open(this.href); return false;">Ajouter fichier HM (ou lien HM)</a> </button>
                </div>
         <!--INFORMATIONS SUR LA COMMANDE-->
                <div class="container1c1r5">
                    <label>N°Commande : </label>
                </div>
                <div class="container1c2r5">
                    {{form_dra.num_bon_commande}}
                </div>
                <div class="container1c3r5">
                    <label>Date Commande : </label>
                </div>
                <div class="container1c4r5">
                    {{form_dra.date_commande}}
                </div>
                <div class="container1c1r6">
                    <label>Contact livraison* : </label>
                    <button><a href="../contactlivraison" onclick="window.open(this.href); return false;">Ajouter un contact</a> </button>
                </div>
                <div class="container1c2r6">
                    {{form_dra.contact_livraison}}
                </div>
                <div class="container1c3r6">
                    <label>Programme* : </label>
                </div>
                <div class="container1c4r6">
                    {{form_dra.programme}}
                </div>
          <!--Document lié à DRA-->
            <!--<div>
                <h3 class="ie-row-1 form-subsection-title">Documents :</h3>
                {{ formsetDoc.management_form }}
                {% for form in formsetDoc %}
                    {{ form.as_table }}
                {{ form.id }}
                {% endfor %}
                    <br>
                Actions :
                    <input value="False" name="additemsdoc" id="additemsdoc">
                    <button class="btn btn-primary" name="additemsbuttondoc" id="additemsbuttondoc">(+) Coût supplémentaire </button>
                    <button class="btn btn-primary" name="delitemsbuttondoc" id="delitemsbuttondoc">(-) Supprimer les coûts sélectionnés </button>
                <div class="ie-row-9 form-subsection-end"></div>
            </div>-->
                  {{ form_dra.documents }}
                  {{ documents }}
            </div>
            <p align="center">
                <input type="submit" name="submit" value="ENREGISTRER">
                <input type="button" OnClick="window.location.href = '../nouvelledra/';" value="REINITIALISER le formulaire">
            </p>

            <!--INFORMATIONS LIGNES DE LA DRA-->

                <h2>Lignes de la DRA</h2>
                <table>
                <thead>
                    <tr>
                        <th>N°Ligne | </th>
                        <th>N°previsionnel | </th>
                        <th>N°programme | </th>
                        <th>N°compte | </th>
                        <th>UF | </th>
                        <th>Référence | </th>
                        <th>Type | </th>
                        <th>Marque | </th>
                        <th>Action | </th>

                   </tr>
                </thead>
                {% if ligne_exist == None %}
                <tbody>
                    <tr>
                        <!-- FAIRE UNE BOUCLE  -->
                        <!-- améliorer le visuel : https://developer.mozilla.org/fr/docs/Web/HTML/Element/tr-->
                        {% for instance in instance_ligne %}
                            <td>{{ instance.num_ligne }} | </td>
                            <td>{{ instance.num_previsionnel }} | </td>
                            <td>{{ instance.num_previsionnel }} | </td>
                            <td>{{ instance.num_compte }} | </td>
                            <td>{{ instance.uf }} | </td>
                            <td>{{ instance.reference }} | </td>
                            <td>{{ instance.modele }} | </td>
                            <td>{{ instance.marque }} | </td>
                            <td><button type="submit" name="submit" value="MODIFIER_UNE_LIGNE">Modifier {{ form_ligne.num_ligne }}</button> | </td>
                        {% endfor %}
                    </tr>
                </tbody>
                <tfoot>
                    <tr><td colspan="8"><button type="submit" name="submit" value="AJOUTER_UNE_LIGNE">AJOUTER UNE LIGNE</button></td></tr>
                </tfoot>
                {% else %}
                <tbody>
                    <tr><td colspan="8"><button type="submit" name="submit" value="AJOUTER_UNE_LIGNE">AJOUTER UNE LIGNE</button></td></tr>
                </tbody>
                {% endif  %}
                </table>
                </div>
              </body>
    </form>
<!--________________________________________________________-->
<!-- formulaire pour le cas d'une demande existante modifiée-->
<!--________________________________________________________-->
{% else %}
    <form id="form" enctype="multipart/form-data" action="../nouvelledra/" method="POST">
        {% csrf_token %}
        <!-- Champs cachés (à conserver)-->
        <input type='hidden' name="dra_id" value='{{dra_id}}'>
    <body>
            <h2>Informations sur la DRA</h2>
              <div class="grid-container1">
                <div class="container1c1r1">
                    <label>Intitulé de la DRA : </label>
                </div>
                <div class="container1c2r1">
                    {{instance_dra.intitule}}
                </div>
                <div class="container1c3r1">
                    <label>Expert Métier* : </label>
                </div>
                <div class="container1c4r1">
                    {{instance_dra.expert_metier}}
                </div>
                <div class="container1c1r2">
                    <label>Fournisseur : ?!? faire champs auto JS nomfour fonction de la selection?!?</label>
                    <button><a href="/{{ url_prefix }}/common/fournisseuretablissement" onclick="window.open(this.href); return false;">Add</a> </button>
                    <!--TODO : modifier le bouton pour un redirect et ne pas perdre le formulaire dra en cours-->
                </div>
                <div class="container1c2r2">
                    {{instance_dra.fournisseur}}
                </div>
                <div class="container1c3r2">
                    <label>contact fournisseur : ?!? faire champs auto JS nomfour fonction de la selection?!?</label>
                    <button><a href="/{{ url_prefix }}/common/fournisseuretablissement" onclick="window.open(this.href); return false;">Add</a> </button>
                    </div>
                <div class="container1c4r2">
                    {{instance_dra.contact_fournisseur}}
                </div>
                  <!-- TODO : ajouter :
                           <div class="form-dra-section">
                        <div class="form-dra-section-c1-r1">
                             <label>N° de dossier Affilié :</label>
                        </div>
                            <div class="form-dra-section-c2-r1">
                         {{instance_dra.num_dossier}}
                         </div>
                        </div>
                   -->
             <!--INFORMATIONS SUR LE DEVIS-->
                <div class="container1c1r3">
                    <label>N° du devis* : </label>
                    <button><a href="/{{ url_prefix }}/ajout_document/" onclick="window.open(this.href); return false;">Ajouter un devis</a> </button>
                </div>
                <div class="container1c2r3">
                    {{instance_dra.num_devis}}
                </div>
                <div class="container1c3r3">
                    <label>Date du devis* : </label>
                </div>
                <div class="container1c4r3">
                    {{instance_dra.date_devis}}
                </div>
                <div class="container1c1r4">
                    <label>N° de Marché* : </label>
                    <button><a href="/{{ url_prefix }}/marche/marches" onclick="window.open(this.href); return false;">Add</a> </button>
                </div>
                <div class="container1c2r4">
                    {{instance_dra.num_marche}}
                </div>
                <div class="container1c3r4">
                    <button><a href="/{{ url_prefix }}/ajout_document/" onclick="window.open(this.href); return false;">Ajouter fichier HM (ou lien HM)</a> </button>
                </div>
         <!--INFORMATIONS SUR LA COMMANDE-->
                <div class="container1c1r5">
                    <label>N°Commande : </label>
                </div>
                <div class="container1c2r5">
                    {{instance_dra.num_bon_commande}}
                </div>
                <div class="container1c3r5">
                    <label>Date Commande : </label>
                </div>
                <div class="container1c4r5">
                    {{instance_dra.date_commande}}
                </div>
                <div class="container1c1r6">
                    <label>Contact livraison* : </label>
                    <button><a href="../contactlivraison" onclick="window.open(this.href); return false;">Ajouter un contact</a> </button>
                </div>
                <div class="container1c2r6">
                    {{instance_dra.contact_livraison}}
                </div>
                <div class="container1c3r6">
                    <label>Programme* : </label>
                </div>
                <div class="container1c4r6">
                    {{instance_dra.programme}}
                </div>
          <!--Document lié à DRA-->
            <!--<div>
                <h3 class="ie-row-1 form-subsection-title">Documents :</h3>
                {{ formsetDoc.management_form }}
                {% for form in formsetDoc %}
                    {{ form.as_table }}
                {{ form.id }}
                {% endfor %}
                    <br>
                Actions :
                    <input value="False" name="additemsdoc" id="additemsdoc">
                    <button class="btn btn-primary" name="additemsbuttondoc" id="additemsbuttondoc">(+) Coût supplémentaire </button>
                    <button class="btn btn-primary" name="delitemsbuttondoc" id="delitemsbuttondoc">(-) Supprimer les coûts sélectionnés </button>
                <div class="ie-row-9 form-subsection-end"></div>
            </div>-->
                  {{ instance_dra.documents }}
                  {{ documents }}
            </div>
            <p align="center">
                <input type="submit" name="submit" value="MODIFIER">
                <input type="button" OnClick="window.location.href = '../nouvelledra/';" value="REINITIALISER le formulaire">
            </p>

            <!--INFORMATIONS LIGNES DE LA DRA-->

                <h2>Lignes de la DRA</h2>
                <table>
                <thead>
                    <tr>
                        <th>N°Ligne | </th>
                        <th>N°previsionnel | </th>
                        <th>N°programme | </th>
                        <th>N°compte | </th>
                        <th>UF | </th>
                        <th>Référence | </th>
                        <th>Type | </th>
                        <th>Marque | </th>
                        <th>Action | </th>

                   </tr>
                </thead>
                {% if ligne_exist == None %}
                <tbody>
                    <tr>
                        <!-- FAIRE UNE BOUCLE  -->
                        <!-- améliorer le visuel : https://developer.mozilla.org/fr/docs/Web/HTML/Element/tr-->
                        {% for instance in instance_ligne %}
                            <td>{{ instance.num_ligne }} | </td>
                            <td>{{ instance.num_previsionnel }} | </td>
                            <td>{{ instance.num_previsionnel }} | </td>
                            <td>{{ instance.num_compte }} | </td>
                            <td>{{ instance.uf }} | </td>
                            <td>{{ instance.reference }} | </td>
                            <td>{{ instance.modele }} | </td>
                            <td>{{ instance.marque }} | </td>
                            <td><button type="submit" name="submit" value="MODIFIER_UNE_LIGNE">Modifier {{ form_ligne.num_ligne }}</button> | </td>
                        {% endfor %}
                    </tr>
                </tbody>
                <tfoot>
                    <tr><td colspan="8"><button type="submit" name="submit" value="AJOUTER_UNE_LIGNE">AJOUTER UNE LIGNE</button></td></tr>
                </tfoot>
                {% else %}
                <tbody>
                    <tr><td colspan="8"><button type="submit" name="submit" value="AJOUTER_UNE_LIGNE">AJOUTER UNE LIGNE</button></td></tr>
                </tbody>
                {% endif  %}
                </table>
                </div>
              </body>
        </form>
    <!-- ICI : mettre le formulaire en mode modification -->

{% endif %}

{% endblock tab_contents %}

{% block javascript %}
<script>
$(document).ready(function() {
        $('#additemsbuttondoc').on('click', function(event) {
         $('#additemsdoc').val("True");
       });
});
</script>
{{ block.super }}
<script>
  $('.flexdatalist').flexdatalist({
      minLength: 0,
      searchContain:true,
      valueProperty:'value',
      noResultsText:"Pas de résultat trouvé pour '{keyword}'"
    }).on('change:flexdatalist', function(event, set, options) {
      // Simule le "onChange" sur le champ original
      var event = new CustomEvent('change');
      this.dispatchEvent(event);
    });

</script>
{% endblock javascript %}
