table
{
    text-align: center;
}

table
{
    border-collapse: collapse;
}

th /* toutes les cellules des tableaux*/
{
    border: 1px solid black; /*bordures de 1px */
}

td
{
    border: 1px solid black;
}

h2
{
	text-align: center;
} 